@charset "utf-8";

.c-banner {
    position: relative;
    margin-left: 268px;

    .slider {
        overflow: hidden;
    }
}

.slider {
    position: relative;
    width: 932px;
    height: 500px;
    margin: 0 auto;
}

.slider-control {
    position: absolute;
    width: 35px;
    height: 55px;
    top: 50%;
    margin-top: -22.5px;
    background-repeat: no-repeat;
    background-size: 12px 23px;
    background-color: rgba(0, 0, 0, .2);
    cursor: pointer;
    z-index: 1;
    background-position: center;
}

.slider-pre {
    left: 10px;
    text-align: center;
    background-image: url(https://s3.wandougongzhu.cn/s/08/arrow_left_982512.png);
}

.slider-next {
    right: 10px;
    background-image: url(https://s5.wandougongzhu.cn/s/6c/arrow_right_51572d.png);
}

.slider-box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
    left: 50%;
    top: 50%;
    margin-top: -250px;
    margin-left: -466px;
}

.dot-box {
    position: absolute;
    bottom: 10px;
    left: 50%;
    z-index: 1;
}

.dot-item {
    float: left;
    width: 15px;
    height: 4px;
    margin: 0 4px;
    background: #191919;
    transition: width 1s;
}

/*轮播图横杠自定义类*/
.dot-item-current {
    width: 25px;
    background: #ea4141;
}